[submodule "services"]
	path = services
	url = https://github.com/cloudfoundry/vcap-services.git
[submodule "tests"]
	path = tests
	url = https://github.com/cloudfoundry/vcap-tests.git
[submodule "java"]
	path = java
	url = https://github.com/cloudfoundry/vcap-java.git
