[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group vcap_commiters
	label-Verified = -1..+1 group Services Committers
[access "refs/heads/auth_deployment"]
	label-Code-Review = -2..+2 group Identity Team
[project]
	state = hidden
