[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group Administrators
	label-Verified = -1..+1 group Registered Users
	push = +force group Administrators
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group vcap_commiters
	submit = group Administrators
	submit = group Registered Users
	push = +force group Administrators
[access "refs/heads/auth_deployment"]
	label-Code-Review = -2..+2 group Identity Team
[access "refs/tags/*"]
	pushTag = group vcap_commiters
